[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_vault_integration
X-Python-2-Compatible=false
# X-Krita-Manual=Manual.html
Name=krita_vault_integration
Comment=Utilities to integrate with my vault :)
